.container-md {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-left: 1%;
  background-color: #aed6c4;
}
.depimg4{
  margin-left: -360px!important;
  margin-top: -70px;
  width: 170px;
}
.btn-primary {
  background-color: e48a41#;
  border-color:  #e48a41;
  font-size: large;
  color: white;
  cursor: pointer;
  margin-left: 20%!important;
  max-width: 100px!important;
}

.btn-primary:hover {
  background-color: #e3b088;
  border-color: #eea66f;
}