.container {
    border-radius: 10px;
    max-width: 450px;
    margin: auto;
    margin-top: 10px; 
    margin-bottom: 15px;
    background-color: #aed6c4;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.8);
    padding: 20px;
    padding-left: 3%;
  }
  .depimg3{
   margin-top: -35px;
   margin-left: -470px;
   width: 140px;
  }

  .form-group {
    margin-bottom: 20px;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .form-controlprice {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left:1%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .form-select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .form-check {
    margin-bottom: 10px;
  }
  
  .btn-primary{
    margin-top: 6%;
    margin-left: 5%!important;
    margin-bottom: -4%;
    width: 70%!important;
  }
  
   @media only screen and (max-width: 768px) {
    .container{
      max-width: 370px;
    }
  } 
 