.container {
    max-width: 550px;
    margin: auto;
    margin-top: 10px; 
    margin-bottom: 15px;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.8);
  }

  /* .container-background {
    background-size: cover;
    background-position: center;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
  } */

  .form-group {
    margin-bottom: 20px;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left:1%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .form-select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .form-check {
    margin-bottom: 10px;
  }
  
  .btn-primary{
    margin-top: 10%;
    margin-left: 75%;
    margin-bottom: -5%;
  }
 