
  .container-sm {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 50px;
    padding-top: 100px;
    border-radius: 30px;
  }
  
  .form-icon {
    position: relative; 
    margin-top: 3.5%;
    margin-right: 17%; 
    margin-left: 10%;
  }

  /* .password-toggle{
    margin-top: 5%;
    margin-right: -8%;
    cursor: pointer;
  } */

  .password-container {
    position: relative;
    
  }
  
  .password-toggle {
    position: absolute;
    top: 50%;
    right: 9px; 
    transform: translateY(-70%); 
    font-size: medium;
    cursor: pointer;
  }
  
  .btn-secondary {
    background-color: #df8845;
    border-color: #cb854f;
    font-size: large;
    color: white;
    cursor: pointer;
    margin-left: 19%;
    margin-top: 2px; 
    width: 70%;
    height: 47px;
  }
  
  .btn-secondary:hover {
    background-color: #e3b088;
    border-color: #eea66f;
  }
  
  .form-group-spacing {
    margin-left: -5%;
    margin-top: 20px;
 }

.text-start{
    margin-top: -15px; 
    margin-bottom: 35px; 
    margin-left: 35%; 
  }
  
  