
    table {
      position: absolute;
      top: 8%;
      width: 100%;
      text-align: center;
      margin-top: 130px!important;
    }
    
    td{
      white-space: nowrap;
    }
    
    th{
      white-space: nowrap;
    }
    
    .table-striped-columns th.country-header {
      cursor: pointer;
    }
    
    .table-striped-columns th:first-child{
      left: 0;
     
    }
    
    .table-striped-columns td:first-child{
      left: 0; 
    }
    
    
    .btn100{
      background-color: #398965;
      border-color: #398965;
      width: 28%;
      text-align: center;
      align-items: center;
      text-decoration: none;
      color: white;
      height: 60px;
      border-radius: 7px;
      font-size: larger;
      margin-top: 50px;
      padding-top: 1%;
      margin-left: 18.5%;
      margin-top: 2%;
      margin-right: 0;
     
    }
    
    .btn100:hover{
      background-color: #61ad8b;
    }
    
    .btn100-txt{
      white-space: nowrap;
    }
    
    .btn100-warning{
      color: #398965;
      background: none;
      padding: 20px;
      text-decoration: none;
      border: none;
      text-align: left;
      text-decoration: underline; 
      margin-top: 1.6%;
      font-size: large;
    }
    
    .btn100-warning2{
      color: #398965;
      background: none;
      padding: 20px;
      text-decoration: none;
      border: none;
      margin-top: 1.8%;
      margin-left: 2%;
      text-decoration: underline; 
      white-space: nowrap;
      font-size: large;
    }
    
    .btn100-warning:hover{
      color: #65af8e;
      background: none;
      text-decoration: none; 
    
    }
    .btn100-warning2:hover{
      color: #65af8e;
      background: none;
      text-decoration: none; 
    }
    
    .btn.btn100-warning:nth-child(1) {
      margin-bottom: 1%; 
      margin-top: 4%;
      margin-left: 5%;
      text-decoration: underline;
    }
    
    .btn.btn100-warning2:nth-child(2) {
      margin-bottom: 1%; 
      margin-top: 4%;
      margin-left: 83%;
      text-decoration: underline;
    } 
    
    .btn-container {
      display: flex;
    }
    
    .btn {
      margin-right: 5%;
      margin-bottom: 10px;
      width: calc(50% - 10px); 
      border-radius: 10px;
    }
    
    .btn.btn-danger {
      background-color: #df8845;
      border-color: #df8845;
      color: #fff;
      margin-left: 9%;
      margin-top: 5%;
      display: flex;
      justify-content: center;
      width: 42%;
      height: 38px;
    }
    
    .btn.btn-danger:hover {
      background-color: #e3b088;
      border: 0;
    }
    
    .btn.btn-info {
      background-color: #398965;
      border-color: #398965;
      color: white;
      width: calc(120% - 2px); 
      margin-top: 8px;
      margin-left: 20%;
    }
    
    .btn.btn-info:hover {
      background-color: #8cd6b5;
      border: 0;
    }
     .search{
      margin-top: 3%;
      margin-left: 23%;
      white-space: nowrap;
      display: flex; 
     }
    
     .searchtext{
      font-size: larger;
      color: #398965;
     }
     .search-icon{
      cursor: pointer;
      padding-left: 5px;
     }
     
     .country-name{
      cursor: pointer;
      font-weight: bold;
      padding: 20px!important;
      
     }
    
     .selected {
      background-color: #3f546a!important; /* You can change this color as needed */
      color: #ffffff !important; /* Text color */
    }
    
    
    
    
    
    /* CSS */
    .all{
      display: inline;
      text-align: right;
      align-items: flex-end!important;
      margin-left: 800px!important;
    }

    .button-17 {
      align-items: center;
      appearance: none;
      background-color: #a80606;
      border-radius: 24px;
      border-style: none;
      box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
      box-sizing: border-box;
      color: #ffffff;
      cursor: pointer;
      display: inline-flex;
      fill: currentcolor;
      font-family: "Google Sans",Roboto,Arial,sans-serif;
      font-size: 14px;
      font-weight: 500;
      height: 48px;
      justify-content: center;
      letter-spacing: .25px;
      line-height: normal;
      width: 150px!important;
      max-width: 100%;
      overflow: visible;
      padding: 2px 24px;
      position: relative;
      text-align: center;
      text-transform: none;
      transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      width: auto;
      will-change: transform,opacity;
      z-index: 0;
      margin-left: 10px!important;
    }
    
    .button-17:hover {
      background: #F6F9FE;
      color: #174ea6;
    }
    
    .button-17:active {
      box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
      outline: none;
    }
    
    .button-17:focus {
      outline: none;
      border: 2px solid #4285f4;
    }
    
    .button-17:not(:disabled) {
      box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
    }
    
    .button-17:not(:disabled):hover {
      box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
    }
    
    .button-17:not(:disabled):focus {
      box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
    }
    
    .button-17:not(:disabled):active {
      box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
    }
    
    .button-17:disabled {
      box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
    }
    
    .button-18 {
      align-items: center;
      appearance: none;
      background-color: #289064;
      border-radius: 24px;
      border-style: none;
      box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
      box-sizing: border-box;
      color: #ffffff;
      cursor: pointer;
      display: inline-flex;
      fill: currentcolor;
      font-family: "Google Sans",Roboto,Arial,sans-serif;
      font-size: 14px;
      font-weight: 500;
      height: 48px;
      justify-content: center;
      letter-spacing: .25px;
      line-height: normal;
      width: 150px!important;
      max-width: 100%;
      overflow: visible;
      padding: 2px 24px;
      position: relative;
      text-align: center;
      text-transform: none;
      transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      width: auto;
      will-change: transform,opacity;
      z-index: 0;
      text-decoration: none;
    }
    
    .button-18:hover {
      background: #F6F9FE;
      color: #174ea6;
    }
    
    .button-17:active {
      box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
      outline: none;
    }
    
    .button-18:focus {
      outline: none;
      border: 2px solid #4285f4;
    }
    
    .button-18:not(:disabled) {
      box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
    }
    
    .button-18:not(:disabled):hover {
      box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
    }
    
    .button-18:not(:disabled):focus {
      box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
    }
    
    .button-18:not(:disabled):active {
      box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
    }
    
    .button-18:disabled {
      box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
    }
    
    
    .head{
      font-weight: bold;
      color: #a80606;
    }
    .all3{
      margin-left: 22%!important;
      margin-top: 1%!important;
    }
    .all2 {
      display: flex;
      justify-content: space-between; /* Align items to the start and end of the container */
      align-items: center; 
    }
    
    .menu-icon {
      margin-right: 20px; 
      cursor: pointer;
    }
    
    .side-menu {
      position: absolute;
      top: 50px; 
      right: 20px; 
      background-color: #fff;
      border: 1px solid #ccc;
      padding: 10px;
      z-index: 999; /* Ensure the menu is on top of other elements */
    }
    .all-sidemenu{
      display: inline;
    }
    .side-menu .button-18 {
      margin-left: 10px!important; 
    }
    
    
    @media only screen and (max-width: 768px) {
      .depimg2{
      height: 30px!important;
      width: 50px!important;
      margin-bottom: 10px!important;
      }
      .country-header {
        text-align: left;
      }
    
      .country-name {
        cursor: pointer;
      }
    
      .table {
        width: 600px; 
        margin-top: 50px!important;
        margin-left: 0px;/* Make the table take full width */
      }
    
      
    
      .table tr:hover td {
        display: table-cell;
      }
    
      .head {
        font-weight: bold;
      }
    
      .button-17, .button-18 {
        margin: 5px;
        width: 100px;
      }
      .all{
        margin-left: 0px!important;
      }
      .menu-icon {
        cursor: pointer;
        margin-right:30%!important;
      }
      
      .side-menu {
       margin-right: 22%!important;
       width: 90px!important;
      }
  
      .all-sidemenu{
        display: inline-block;
      }
      .side-menu .button-18,
      .side-menu .button-17 {
        width: 60%!important; /* Set the width of buttons to 100% of the side menu */
        margin-left: -2%!important;
        margin-bottom: -2%!important;
        
      }
    }
    
    
    
    .button-19 {
      align-items: center;
      appearance: none;
      
      border-radius: 24px;
      border-style: none;
      box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
      box-sizing: border-box;
      background: transparent;
      color: #000000;
      text-transform: uppercase;
      border: 3px solid #030d3a;
      cursor: pointer;
      display: inline-flex;
      fill: currentcolor;
      font-family: "Google Sans",Roboto,Arial,sans-serif;
      font-size: 14px;
      font-weight: 500;
      height: 48px;
      justify-content: center;
      letter-spacing: .25px;
      line-height: normal;
      width: 200px!important;
      max-width: 100%;
      overflow: visible;
      padding: 2px 24px;
      position: relative;
      text-align: center;
      text-transform: none;
      transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      width: auto;
      will-change: transform,opacity;
      z-index: 0;
      margin-top: 30px;
      margin-left: 500px;
      text-decoration: none;
    }
    
    .button-19:hover {
      background: #F6F9FE;
      color: #174ea6;
    }
    
    .button-19:active {
      box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
      outline: none;
    }
    
    .button-19:focus {
      outline: none;
      border: 2px solid #4285f4;
    }
    
    .button-19:not(:disabled) {
      box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
    }
    
    .button-19:not(:disabled):hover {
      box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
    }
    
    .button-19:not(:disabled):focus {
      box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
    }
    
    .button-19:not(:disabled):active {
      box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
    }
    
    .button-19:disabled {
      box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
    }
    
    .button-19-txt{
      text-decoration: none;
      margin-top: 10px;
    }
    
    
    .side-menu .button-18,
    .side-menu .button-17 {
      width: 100%; /* Set the width of buttons to 100% of the side menu */
      margin-bottom: 10px; /* Add margin-bottom to create space between buttons */
    }

    @media only screen and (max-width: 768px) {
      
      .button-19 {
        margin: 0; 
        margin-top: 20px;
        margin-left: 75px; 
        white-space: nowrap;
    
      }
      .btn100-warning2{
        margin-top: 7px;
      }
      .all{
        margin: 3px!important;
        margin-left: 0px!important;
        display: flex!important;
      }

      table {
        position: absolute;
        top: 13%;
        width: 100%;
        text-align: left;
        margin-top: 125px!important;
      }
      p{
        font-size: 10px!important;
      }
      .country-name{
        font-size: 8px!important;
      }
      .button-17{
        width: 20%!important;
        font-size: 10px;
        height: 30px!important;
      }
      .button-18{
        width: 20%!important;
        font-size: 10px;
        height: 30px!important;
        white-space: nowrap;
      }
      .button-19{
        width: 50%!important;
        font-size: 10px;
        height: 30px!important;
        white-space: nowrap;
        margin: 0px!important;
        margin-left: 10px!important;

      }
      .button-20{
        display: block;
        margin-left: 10px!important;
        font-size: 10px!important;
        height: 30px!important;
        width: 50%!important;
        white-space: nowrap;
        padding: 0!important;
        text-decoration: none!important;
        margin-top: 10px;
      }
      .all3{
        margin: 0px!important;
        margin-left: 10%!important;
      }
     
    .menu-icon {
      cursor: pointer;
      margin-right:30%!important;
    }
    
    .side-menu {
     margin-right: 22%!important;
     width: 90px!important;
    }

    .all-sidemenu{
      display: inline-block;
    }
    .side-menu .button-18,
    .side-menu .button-17 {
      width: 60%!important; /* Set the width of buttons to 100% of the side menu */
      margin-left: -2%!important;
      margin-bottom: -2%!important;
      
    }

    }
    
    .depimg2{
      margin-left: 1%!important;
      width: 130px;
    }
    
    .all2{
      margin-top: 10px;
    }
    .search-icon2{
      margin-left: 900!important;
    }
    
    .button-20 {
      border: none;
      padding: 10px 20px;
      width: 200px;
      height: 50px;
      font-size: 14px;
      position: relative;
      background: transparent;
      color: #000000;
      text-transform: uppercase;
      border: 3px solid #030d3a;
      cursor: pointer;
      transition: all 0.7s;
      overflow: hidden;
      border-radius: 100px;
      margin-left: 100px;
    }
    
    .button-20:hover {
      color: #000;
    }
    span {
      transition: all 0.7s;
      z-index: -1;
    }
    
    .button-20 .first {
      content: "";
      position: absolute;
      right: 100%;
      top: 0;
      width: 25%;
      height: 100%;
      /* background: #741898; */
    }
    
    .button-20:hover .first {
      top: 0;
      right: 0;
    }
    .button-20 .second {
      content: "";
      position: absolute;
      left: 25%;
      top: -100%;
      height: 100%;
      width: 25%;
      /* background: #741898; */
    }
    
    .button-20:hover .second {
      top: 0;
      left: 50%;
    }
    
    .button-20 .third {
      content: "";
      position: absolute;
      left: 50%;
      height: 100%;
      top: 100%;
      width: 25%;
      /* background: #741898; */
    }
    
    .button-20:hover .third {
      top: 0;
      left: 25%;
     /* background: #741898; */

    }
    
    .button-20 .fourth {
      content: "";
      position: absolute;
      left: 100%;
      top: 0;
      height: 100%;
      width: 25%;
    /* background: #741898; */

    }
    
    .button-20:hover .fourth {
      top: 0;
      left: 0;
    }
    Link{
      text-decoration: none;
    }
    .all3{
      margin-left: 300px;
    }

