table {
  position: absolute;
  top: 4%;
  width: 100%;
}

td{
  white-space: nowrap;
}

th{
  white-space: nowrap;
}

.table-striped-columns th.country-header {
  cursor: pointer;
}

.table-striped-columns th:first-child{
  left: 0;
 
}

.table-striped-columns td:first-child{
  left: 0; 
}


.btn100{
  background-color: #398965;
  border-color: #398965;
  width: 28%;
  text-align: center;
  align-items: center;
  text-decoration: none;
  color: white;
  height: 60px;
  border-radius: 7px;
  font-size: larger;
  margin-top: 50px;
  padding-top: 1%;
  margin-left: 18.5%;
  margin-top: 2%;
  margin-right: 0;
 
}

.btn100:hover{
  background-color: #61ad8b;
}

.btn100-txt{
  white-space: nowrap;
}

.btn100-warning{
  color: #398965;
  background: none;
  padding: 20px;
  text-decoration: none;
  border: none;
  text-align: left;
  text-decoration: underline; 
  margin-top: 1.6%;
  font-size: large;
}

.btn100-warning2{
  color: #398965;
  background: none;
  padding: 20px;
  text-decoration: none;
  border: none;
  margin-top: 1.8%;
  margin-left: 2%;
  text-decoration: underline; 
  white-space: nowrap;
  font-size: large;
}

.btn100-warning:hover{
  color: #65af8e;
  background: none;
  text-decoration: none; 

}
.btn100-warning2:hover{
  color: #65af8e;
  background: none;
  text-decoration: none; 
}

.btn.btn100-warning:nth-child(1) {
  margin-bottom: 1%; 
  margin-top: 4%;
  margin-left: 5%;
  text-decoration: underline;
}

.btn.btn100-warning2:nth-child(2) {
  margin-bottom: 1%; 
  margin-top: 4%;
  margin-left: 83%;
  text-decoration: underline;
} 

.btn-container {
  display: flex;
}

.btn {
  margin-right: 5%;
  margin-bottom: 10px;
  width: calc(50% - 10px); 
  border-radius: 10px;
}

.btn.btn-danger {
  background-color: #df8845;
  border-color: #df8845;
  color: #fff;
  margin-left: 9%;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  width: 42%;
  height: 38px;
}

.btn.btn-danger:hover {
  background-color: #e3b088;
  border: 0;
}

.btn.btn-info {
  background-color: #398965;
  border-color: #398965;
  color: white;
  width: calc(120% - 2px); 
  margin-top: 8px;
  margin-left: 20%;
}

.btn.btn-info:hover {
  background-color: #8cd6b5;
  border: 0;
}
 .search{
  margin-top: 3%;
  margin-left: 23%;
  white-space: nowrap;
  display: flex; 
 }

 .searchtext{
  font-size: larger;
  color: #398965;
 }
 .search-icon{
  cursor: pointer;
  padding-left: 5px;
 }