
.custom-btn {
    border-radius: 10px;
    padding: 5px 10px;
  }
  
  .btn-edit {
    background-color: #e48f4e; 
    margin-right: 10px;
    width: 40%;
    color: #fff; 
  }
  
  .btn-add {
    background-color: #297553; 
    color: #fff; 
    width: 40%;

  }
  
  .btn-success{
    background-color: #399f71;
    width: 100%;
    height: 60px;
    border-radius: 0px;
    font-size: larger;
    font-weight: 600;
  }

  .btn-success:hover{
    background-color: #267652;
  }