
.container-xxl {
  background-image: url('../../images/formbg2.jpg'); 
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  margin: 0; 
  padding: 10px; 
  opacity: 0.8;
}

.container-lg{
  background: linear-gradient(to bottom, #c5e4d6, #72a58e);
  padding: 30px;
  border-radius: 10px;
  margin: 20px;
  margin-left: 7%;
  margin-right: auto; 
  margin-top: 0px;
  margin-bottom: 0px;
  width: 55%;
  opacity: 0.9;
}

  .form-label {
    font-size: larger;
    margin-right: 3%;
    color:#002112; 
    margin-left: 3%;
    font-weight: 700;
    font-style: italic;
    white-space: nowrap;
  }
 
  .form-control {
    margin-bottom: 20px;
    border-radius: 1px; 
    border-color: #e1f4e7;
    padding: 5px; 
    font-size: large; 
    opacity: 0.8;
    transition: border-color 0.8s;
    width: 97%;
    margin-left: 3%;
    margin-top: 0.8%;
    cursor: pointer;
  }

.form-control:focus {
      border-color: #0f482e; 
  } 

.form-control:hover {
    border-color: #297553; 
    opacity: 0.7;
} 

.centered-input-group {
  display: flex;
  justify-content: center;
}

.custom-select-provider {
  padding: 8px;
  font-size: 16px;
  border-radius: 1px; 
  border-color: #e1f4e7;
  background-color: #fff;
  width: 100%; 
  margin-top: 3%;
  margin-left: 2%;
  opacity: 0.9;
  cursor: pointer;
}

.custom-select {
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ced4da;
  background-color: #fff;
  width: 94%;
  height: -3cm;
  margin-bottom: 3px;
  margin-left: 8px;
  opacity: 0.9;
  cursor: pointer;
}

.custom-select:hover{
  border-color: #297553; 
}

.custom-nbiot-input-group {
  margin-top: 15px;
  /* width: 338%; */
}

  .h1{
    margin-left: 0.5%;
    margin-bottom: 17px;
    margin-top: 20px;
    color:#012916;
    font-style: italic;
    font-weight: 700;
    font-size: x-large;
  }

  .notes{
    font-size: larger;
    font-weight: 700;
    margin-top: 30px;
  }

  .btn.btn-dark {
    color: #fff;
    height: 45px;
    width: 35%;
    margin-top: 4.5%;
    margin-bottom: 0.5%;
    margin-left: 33%;
    background-color: rgb(244, 71, 18);
    border-color: rgb(237, 82, 34);
    font-size: large;
    align-self: center;
    cursor: pointer;
    font-style: italic;
  }

  .btn:hover {
    background-color: #eea66f;
    border-color: #eea66f;
}

.provider{
  margin-top: 6px!important;
}


/* @media only screen and (max-width: 844px) {
  .container-lg{
    width: 320px!important;
  }
  .depimg5{
     Width:90px!important ;
     height:50px!important;
     }

     .form-label {
      margin-left: 5%!important;
  
    }
  
   
    .form-control {
      margin-left: 3%!important;
  
    }

  }

  @media only screen and (max-width: 932px) {
    
  .container-lg{
    width: 350px!important;
  }
   } */